In [1]:
import pandas

In [2]:
history_df = pandas.read_csv('/content/drive/My Drive/swb-imputing-daily/history-2020-09-19.csv')

In [59]:
positive_daily_df = pandas.read_csv('/content/drive/My Drive/swb-imputing-daily/ward-positive-breakdown-2020-09-19.csv')

In [60]:
positive_daily_df.head()

  Ward_Name  Total_Positive_Cases  ...  Total_Active       as_of
0        RC                 11106  ...          2241  2020-09-18
1        PN                 10682  ...          1623  2020-09-18
2        KW                 10638  ...          2128  2020-09-18
3        KE                 10627  ...          1797  2020-09-18
4        GN                  9788  ...          1497  2020-09-18

[5 rows x 6 columns]

In [23]:
from datetime import timedelta, datetime, date

In [50]:
imput_for_date = (date.today() - timedelta(days=5))

In [51]:
imput_for_datetime = datetime(imput_for_date.year, imput_for_date.month, imput_for_date.day, 0, 0, 0)

In [52]:
imput_for_datetime

datetime.datetime(2020, 9, 15, 0, 0)

In [11]:
history_df.head()

         date district state  ...  total.tested  delta.other  total.other
0  2020-01-30   Mumbai    MH  ...           NaN          NaN          NaN
1  2020-02-02   Mumbai    MH  ...           NaN          NaN          NaN
2  2020-02-03   Mumbai    MH  ...           NaN          NaN          NaN
3  2020-02-14   Mumbai    MH  ...           NaN          NaN          NaN
4  2020-03-02   Mumbai    MH  ...           NaN          NaN          NaN

[5 rows x 13 columns]

In [20]:
history_df['date'] = pandas.to_datetime(history_df['date'])

In [21]:
history_df.head()

        date district state  ...  total.tested  delta.other  total.other
0 2020-01-30   Mumbai    MH  ...           NaN          NaN          NaN
1 2020-02-02   Mumbai    MH  ...           NaN          NaN          NaN
2 2020-02-03   Mumbai    MH  ...           NaN          NaN          NaN
3 2020-02-14   Mumbai    MH  ...           NaN          NaN          NaN
4 2020-03-02   Mumbai    MH  ...           NaN          NaN          NaN

[5 rows x 13 columns]

In [45]:
history_df['date'][history_df.shape[0] - 1]

Timestamp('2020-09-19 00:00:00')

In [53]:
history_df.loc[history_df['date'] == imput_for_datetime]

          date district state  ...  total.tested  delta.other  total.other
201 2020-09-15   Mumbai    MH  ...      925148.0          3.0        362.0

[1 rows x 13 columns]

In [70]:
history_df.loc[history_df['date'] >= imput_for_datetime]

          date district state  ...  total.tested  delta.other  total.other
201 2020-09-15   Mumbai    MH  ...      925148.0          3.0        362.0
202 2020-09-16   Mumbai    MH  ...      964609.0          3.0        365.0
203 2020-09-17   Mumbai    MH  ...      977722.0          2.0        367.0
204 2020-09-18   Mumbai    MH  ...      977722.0          3.0        370.0
205 2020-09-19   Mumbai    MH  ...      977722.0          NaN        370.0

[5 rows x 13 columns]

In [54]:
imputing_for_df = history_df.loc[history_df['date'] == imput_for_datetime]

In [61]:
imput_with_datetime = datetime(2020, 9, 18, 0, 0, 0)

In [62]:
 history_df.loc[history_df['date'] == imput_with_datetime]

          date district state  ...  total.tested  delta.other  total.other
204 2020-09-18   Mumbai    MH  ...      977722.0          3.0        370.0

[1 rows x 13 columns]

In [57]:
imputing_with_df = history_df.loc[history_df['date'] == imput_with_datetime]

In [71]:
imputing_with_df.head()

          date district state  ...  total.tested  delta.other  total.other
205 2020-09-19   Mumbai    MH  ...      977722.0          NaN        370.0

[1 rows x 13 columns]

In [63]:
positive_daily_df['as_of'] = pandas.to_datetime(positive_daily_df['as_of'])

In [64]:
positive_daily_df.loc[positive_daily_df['as_of'] == imput_with_datetime]

   Ward_Name  Total_Positive_Cases  ...  Total_Active      as_of
0         RC                 11106  ...          2241 2020-09-18
1         PN                 10682  ...          1623 2020-09-18
2         KW                 10638  ...          2128 2020-09-18
3         KE                 10627  ...          1797 2020-09-18
4         GN                  9788  ...          1497 2020-09-18
5         RS                  9386  ...          1996 2020-09-18
6          S                  9081  ...          1318 2020-09-18
7          N                  8977  ...          1405 2020-09-18
8          T                  8088  ...          1721 2020-09-18
9          D                  7976  ...          1381 2020-09-18
10        FS                  7717  ...           941 2020-09-18
11        GS                  7211  ...           870 2020-09-18
12         L                  6986  ...           731 2020-09-18
13        FN                  6887  ...          1302 2020-09-18
14         E                  6672  ...           992 2020-09-18
15        PS                  6354  ...          1148 2020-09-18
16        ME                  5855  ...           971 2020-09-18
17        HE                  5777  ...           932 2020-09-18
18        HW                  5492  ...          1020 2020-09-18
19        MW                  5167  ...           807 2020-09-18
20        RN                  5120  ...          1141 2020-09-18
21         A                  4422  ...           674 2020-09-18
22         C                  2546  ...           357 2020-09-18
23         B                  1520  ...           254 2020-09-18

[24 rows x 6 columns]

In [65]:
positive_daily_for_impute = positive_daily_df.loc[positive_daily_df['as_of'] == imput_with_datetime]

In [69]:
sum(positive_daily_for_impute['Total_Deaths']) - imputing_with_df['total.deceased']

205   -563.0
Name: total.deceased, dtype: float64

It seems that the totals don't match and may not match for any date.

This may be due to the fact that the data for covid19india.org is imputed manually.

Volunteers watch these tweets: https://github.com/covid19india/api/blob/gh-pages/twitter_queries.json, volunteers are notified by telegram with: https://t.me/joinchat/AAAAAEaLHEFoki9jPObvAQ and the they add those numbers to the google spreadsheets from which the covid19api.org takes its values.

That may explain why there's a difference.